<!-- <footer style="margin: 0; padding: 0;">
    <div class="Footer">
       
    </div>
   </footer> -->



   
<footer class="section footer-classic context-dark bg-image" style="background: #000000; padding-top: 8vh; padding-bottom: 5vh;">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="../footerimg.png" alt="" width="100" height="50" ></a>
            <p>A responsive website featuring poems, created in order to provide an outlet for people who enjoy poetry.</p>
          </div>
        </div>
        <div class="col-md-4">
          <!--<h5>Contacts</h5>

          <dl class="contact-list">
            <dt>Email:</dt>
            <dd><a href="mailto:#">srmayandrathode@gmail.com</a></dd>
          </dl>-->
        </div>
      </div>
    </div>
    <!-- <div class="row no-gutters social-container">
      <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
      <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>Instagram</span></a></div>
      <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>Twitter</span></a></div>
      <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>Youtube</span></a></div>
    </div> -->
  </footer>
