<section class="TopOfPage">
    <div class="MobileTop">
      <img  class="SingleTopSides" src="Poem TOP L.png" alt="lefttt">
      <img class="SingleTop" src="Single Top.png" alt="singletop">
      <img  class="SingleTopSides" src="Poem TOP R.png" alt="rightt">

    </div>
      <div class="ImgTopOfPage">
          <img class="ImgTopOfPageIn" src="Page Top Left.png" alt="leftimage">
      </div>
      <div class="ImgTopOfPage">
          <img class="ImgTopOfPageIn" src="Page Top Right.png" alt="rightimage">
      </div>
  </section>