<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do Lafz || Verified</title>
    



</head>

<!-- <body style="background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);">
    <section class="TopOfPage">
        <div class="MobileTop">
          <img  class="SingleTopSides" src="Poem TOP L.png" alt="lefttt">
          <img class="SingleTop" src="Single Top.png" alt="singletop">
          <img  class="SingleTopSides" src="Poem TOP R.png" alt="rightt">
  
        </div>
          <div class="ImgTopOfPage">
              <img class="ImgTopOfPageIn" src="Page Top Left.png" alt="leftimage">
          </div>
          <div class="ImgTopOfPage">
              <img class="ImgTopOfPageIn" src="Page Top Right.png" alt="rightimage">
          </div>
      </section>
      <section class="Navigation">
        <ul class="ListContainer">
            <li class="NavList" ><a style="text-decoration: none;" href="/"><h3 class="ListItems Active">Home</h3></a></li>
            <li class="NavList"><a style="text-decoration: none;" href="/poem"><h3 class="ListItems" >All Poems</h3></a></li>
            <li class="NavList"><a style="text-decoration: none;" href="/submit"><h3 class="ListItems" >Submit</h3></a></li>
            <li class="NavList"><a style="text-decoration: none;" href="/signup"><h3 class="ListItems" >SignUp</h3></a></li>
                <li class="NavList"><a style="text-decoration: none;" href="/login"><h3 class="ListItems" >Login</h3></a></li>
        
            
        </ul>
    </section>
     
      <br><br><br><br> -->


    <h1 style="text-align: center;">Verified Successfully</h1>



    
  




                       
                        
                   
      
      
















 


   

</body>
</html>